<%= semantic_form_for [:admin, @supporting_organisation], builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :url %>
    <li>
      <label class="label">Current logo</label>
      <% if f.object.logo.attached? %>
        <%= image_tag(f.object.logo.variant(:carousel)) %>
      <% else %>
          No logo
      <% end %>
    </li>
    <%= f.input :logo, as: :file, label: "Upload logo" %>
    <%= f.input :position %>
    <%= f.input :image_max_height %>
    <%= f.actions %>
  <% end %>
<% end %>
