<div class="scroll-watcher"></div>
<div class="container-float shadow rounded text-muted full-page" id="open-letter">
  <%= render partial: "header" %>
  <div class="row page-introduction">
    <div class="col col-8 offset-2 col-md-6 offset-md-3">
      <%= markdown_render(@page_introduction_content) %>
    </div>
  </div>
</div>

<div class="container-fluid open-letter-container">
  <div class="row">
    <div class="col col-sm-8 offset-sm-2 open-letter-content">
      <div class="letter-frame p-4 p-lg-5">
        <%= markdown_render(@open_letter_content) %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid rounded text-muted full-page" id="open-letter">
  <div class="row the-ask">
    <div class="col col-10 offset-1 col-xl-8 offset-xl-2">
      <%= markdown_render(@the_ask_content) %>
    </div>
  </div>
  <div class="row translations">
    <div class="col col-10 offset-1 col-xl-8 offset-xl-2">
      <%= render partial: "letter_translations", locals: { letter_translations: @letter_translations } %>
    </div>
  </div>

  <div class="row after-letter">
    <div class="col col-10 offset-1 col-xl-8 offset-xl-2 trans-signatories">
      <%= render partial: "signatories", locals: { signatories: @signatories } %>
    </div>
  </div>
</div>
<%= render partial: "supporting_organisations_carousel", locals: { supporting_organisations: @supporting_organisations } %>

<style>
.scroll-watcher {
  height: 4px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-image: linear-gradient(#04141f, #dbbc8f);
  width: 0%;
  animation: scroll-watcher linear;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-timeline: scroll(root);
  opacity: 75%;
}

.parallax-header {
  background-color: #869891 !important;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  max-height: 50vh;
  max-height: 50svh;
  display: flex;
  flex-direction: column-reverse;
  animation: image-parallax linear;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-timeline: scroll(root);
  animation-range: exit;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes image-parallax {
    to { 
      background-position-y: 200%;
    }
  }

  @keyframes scroll-watcher {
    to { width: 100%; }
  }
}

  .page-introduction{
    color: #f4e9da;
    background-color: #869891;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .header-button {
    width: fit-content;
    margin: 0 auto;
  }

  .after-letter {
    color: #f4e9da;
    background-color: #869891;
    padding-top: 2em;
  }

  .the-ask {
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .translations {
    padding-bottom: 3em;
  }

  .trans-signatories {
    padding-bottom: 2em;
  }

  .full-page .parallax-header button, .signatories-section button {
    display: block;
    margin: 0 auto 2em auto;
    margin-top: 2em;
    opacity: 0.8;
    background-image: linear-gradient(180deg, #7e4016, #8f5127);
    border: solid 1px #dbbc8f;
  }

  .full-page button:hover{
    background-image: linear-gradient(180deg, #986645, #8f5127); /* calypso */
    border: solid 1px #dbbc8f;
  }


  .open-letter-content {
    height: 70vh;
    background-color: #ffffff7f;
    overflow-x: hidden;
    overflow-x: clip;
    overflow-y: scroll;
    color: #04141f;
    margin-top: 3em;
    margin-bottom: 1em;
    border-radius: 20px;
    padding: 0;
    margin-left: 1em;
    margin-right: 1em;
  }

  .full-page {
    background: #dbbc8f;
    overflow-x: hidden;
    overflow-x: clip;
  }

  .parallax-header h1 {
    color: #dbbc8f;
    text-shadow: 1px 1px #0a131a;
    border-radius: 10px;
    background-color: #13252a26;
    padding: 0 0.5em;
    width: fit-content;
    margin: 0 auto;
  }

.parallax-header .header-content {
  position: relative;
  bottom: 7%;
  padding: 0.4em;
  width: 80%;
  margin-left: 0 auto;
}

.photo-credits {
  position: absolute;
  left: 1em;
  color: #dbbc8f;
}

.content {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  background-color: #f1f6f7ff;
}

.open-letter-container {
  background: linear-gradient(180deg, #869891, #dbbc8f);
}

.letter-translations {
  margin-top: 2em;
  margin-bottom: 2em;
}

.bright-links a, .bright-links a:visited, .bright-links a:link {
  color: #dbbc8f;
}

.bright-links a:hover {
  color: #e8d4b7;
}

.accordion-body {
    background-color: #e5cfae;
}

#letter-translations-accordion {
  form.button_to {
    display: inline;
  }
}

button.download-button {
    width: 240px;
    padding: 20px;
    margin: 10px;
    display: inline;
}

button.wide-button {
  width: 100%;
  display: block;
  margin: auto;
}


blockquote {
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
  color: white;
  font-family: serif;

  p {
    margin-bottom: 0;
  }
}

blockquote:first-of-type {
  font-size: 200%;
  margin-bottom: 1em;
}

.logo-image-container {
  height: 200px;
  white-space: nowrap;
  text-align: center;
}

.logo-carousel {
  max-height: 200px;
  img {
    vertical-align: middle;
  }
}

.signatories-list {
  display: grid;
  grid-template-columns: 1fr 10fr;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.signatory-image {
  min-height: 150px;
}

.helper { /* for vertical alignment in the carousel */
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tns-outer {
  position: relative;
}

[data-controls] {
  border: 0;
  padding: 0;
  font-size: 30px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  z-index: 1;
  background: transparent;
}
[data-controls="prev"] {
  left: 20px;
}
[data-controls="next"] {
  right: 20px;
}
[data-action="start"] {
  display: none;
}
[data-action="stop"] {
  display: none;
}

  body {
    background-color: white;
  }
</style>
