<div class="container-float shadow rounded text-muted full-page">
  <%= render partial: "header" %>
  <div class="container content lg-offset-4 lg-col-10">
    <div class="row">
      <div class="col col-lg-8 offset-lg-2">
        <div class="page-introduction">
          <%= markdown_render(@page_introduction_content) %>
        </div>
      </div>
    </div>
  </div>
  <div class="open-letter-content">
    <div class="row">
      <div class="col col-lg-8 offset-lg-2">
        <%= markdown_render(@open_letter_content) %>
      </div>
    </div>
  </div>
  <div class="container content lg-offset-4 lg-col-10">
    <div class="row">
      <div class="col col-lg-8 offset-lg-2">
        <%= render partial: "letter_translations", locals: { letter_translations: @letter_translations } %>
        <%= render partial: "signatories", locals: { signatories: @signatories } %>
      </div>
      <%= render partial: "supporting_organisations_carousel", locals: { supporting_organisations: @supporting_organisations } %>
    </div>
  </div>
</div>
<style>
  .open-letter-content {
    padding-top: 2em;
    color: white;
    background-color: #0000ff99;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
</style>
