<style></style>

<div class="container-float shadow rounded text-muted full-page">
  <%= render partial: "header" %>
  <div class="container content">
    <%= markdown_render(@page_introduction_content) %>
    <%= markdown_render(@open_letter_content) %>
    <%= render partial: "letter_translations", locals: { letter_translations: @letter_translations } %>
    <%= render partial: "signatories", locals: { signatories: @signatories } %>
  </div>
  <%= render partial: "supporting_organisations_carousel", locals: { supporting_organisations: @supporting_organisations } %>
</div>
