<div class="container-float shadow rounded text-muted full-page" id="open-letter">
  <%= render partial: "header" %>
  <div class="row page-introduction">
    <div class="col col-10 offset-1 col-xl-8 offset-xl-2">
      <%= markdown_render(@page_introduction_content) %>
    </div>
  </div>

  <div class="container open-letter-content">
    <div class="row">
      <div class="col col-10 offset-1">
        <%= markdown_render(@open_letter_content) %>
      </div>
    </div>
  </div>
  <div class="row the-ask">
    <div class="col col-10 offset-1 col-xl-8 offset-xl-2">
      <%= markdown_render(@the_ask_content) %>
    </div>
  </div>
  
  <div class="row after-letter">
    <div class="col col-10 offset-1 col-xl-8 offset-xl-2 trans-signatories">
      <%= render partial: "letter_translations", locals: { letter_translations: @letter_translations } %>
      <%= render partial: "signatories", locals: { signatories: @signatories } %>
    </div>
  </div>
</div>
<%= render partial: "supporting_organisations_carousel", locals: { supporting_organisations: @supporting_organisations } %>

<style>
.page-introduction{
  color: white;
  background-color: #0e77a8;
  padding-top: 2em;
  padding-bottom: 2em;
}

  .after-letter {
    color: white;
    background-color: #0e77a8;
    padding-top: 2em;
  }

  .the-ask {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .trans-signatories {
    padding-bottom: 2em;
  }

  .open-letter-content {
    height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
  }

  .full-page {
    background: white;
    overflow-x: hidden;
  }

  .header-content {
    border-radius: 10px;
  }

.parallax-header .header-content {
  position: absolute;
  bottom: 7%;
  padding: 0.4em;
  width: 80%;
  margin-left: 10%;
}

header h1 {
  color: #dbbc8f;
  text-shadow: 2px 2px #7e4016;
}

.content {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  background-color: #f1f6f7ff;
}

.letter-translations {
  margin-top: 2em;
  margin-bottom: 2em;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(255,0,255,1);
}

#letter-translations-accordion {
  .accordion-button {
    color: white;
  }

  form.button_to {
    display: inline;
  }
}

button.download-button {
    width: 240px;
    padding: 20px;
    margin: 10px;
    display: inline;
}

blockquote {
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
  color: white;
  font-family: serif;

  p {
    margin-bottom: 0;
  }
}

.logo-image-container {
  height: 200px;
  white-space: nowrap;
  text-align: center;
}

.logo-carousel {
  max-height: 200px;
  img {
    vertical-align: middle;
  }
}

.signatories-list {
  display: grid;
  grid-template-columns: 1fr 10fr;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.signatory-image {
  min-height: 150px;
}

.helper { /* for vertical alignment in the carousel */
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tns-outer {
  position: relative;
}

[data-controls] {
  border: 0;
  padding: 0;
  font-size: 30px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  z-index: 1;
  background: transparent;
}
[data-controls="prev"] {
  left: 20px;
}
[data-controls="next"] {
  right: 20px;
}
[data-action="start"] {
  display: none;
}
[data-action="stop"] {
  display: none;
}

  body {
    background-color: white;
  }
</style>
